.slide{
    background-color: white
}
h1{
    text-align: center;
}

.detailsContainer{
    color: white;
    height: 30vh;
    width: 60vh;
    
    align-items: center;
    flex-wrap: wrap;
    place-items: center;
}